Objective:
        
        To develop a robust movie recommendation system tailored to individual user preferences.

Approach:
        
        Data Preprocessing: Clean and preprocess the dataset to ensure consistency and accuracy.
        Data Preparation: Structure and transform the data for optimal input into the recommendation model.
        Model Development: Build and implement a recommendation model to suggest movies based on user behavior and preferences.

In [4]:
# importing import libraries
import pandas as pd
import numpy as np

In [5]:
# importing dataframes 
movies = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [6]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

Our Key metrics is to create an model which an recommend an movie based on the user perference we are going to remove the columns we are not relevant to our goal

In [8]:
# mergeing to df into single one 
movies = movies.merge(credit, on = 'title' )

In [9]:
# After conducting research we are only selecting the columns which are nessessary for the ML model
movies = movies[['movie_id','genres','overview','keywords','title','cast','crew']]
movies.head()

,movie_id,genres,overview,keywords,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
# we are importing this ast library
import ast

In [11]:
# converting the in coming obj in list and fetching the value of the name
def converter(obj):
    name  = []
    for i in ast.literal_eval(obj):
        name.append(i["name"])
    return name

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
movies['genres'] = movies['genres'].apply(converter)

In [14]:
movies['keywords'] = movies['keywords'].apply(converter)

In [15]:
# Here we are fetching the the top 3 cast in the movies
def top_3_star(obj):
    name  = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3 : 
            name.append(i["name"])
            counter +=1
        else :
            break
    return name

In [16]:
movies['cast'] = movies['cast'].apply(top_3_star)

In [17]:
movies.isna().sum()
movies.dropna(inplace = True)

In [18]:
# we are extracting the Directors name from each movies 
def get_director(obj):
    name  = [i['name'] for i in ast.literal_eval(obj) if i['job'] == 'Director']
    return name

In [19]:
movies['crew'] = movies['crew'].apply(get_director)

In [20]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [21]:
movies.head()

,movie_id,genres,overview,keywords,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

    Here we are removing the space between the space to avoid confusing between the words. 
    Eg.[Sam Worthington,Sam Mendes] here the sam words repeats from cast feature as well as crew features

In [22]:
movies['cast'] = movies['cast'].apply(lambda x :[ i.replace(" ","")  for i in x])

In [23]:
movies['genres'] = movies['genres'].apply(lambda x :[ i.replace(" ","")  for i in x])

In [24]:
movies['crew'] = movies['crew'].apply(lambda x :[ i.replace(" ","")  for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x :[ i.replace(" ","")  for i in x])

In [25]:
movies.head()

,movie_id,genres,overview,keywords,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [26]:
# concating the nesseasry columns into one 
movies['All_tags'] = movies['overview'] +movies['genres']+ movies['keywords'] + movies['cast']  + movies['crew']

In [27]:
movies.head()

,movie_id,genres,overview,keywords,title,cast,crew,All_tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [28]:
# saving the necessary columns into one DataFrame 
final_df = movies[['movie_id','title','All_tags']]

In [29]:
# We are converting the list into str 
final_df.loc[:,'All_tags'] = final_df['All_tags'].apply(lambda x : " ".join(x))

In [30]:
# Here we are converting all the intems in the feature into lower case
final_df.loc[:,'All_tags'] = final_df['All_tags'].apply(lambda x : x.lower())

In [31]:
final_df['All_tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [32]:
import nltk

In [33]:
# We are importing porterstemmer from nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

     By using this function we are converting the in coming words in stem.
     Eg if we have words like running runner runs easily it convert it to run runner run easili

In [34]:
def stem(text):
    res = []
    for i in text.split():
        res.append(ps.stem(i))
    return " ".join(res)

In [35]:
final_df.loc[:,'All_tags'] = final_df['All_tags'].apply(stem)

In [36]:
# we are using the countervectorizer to  5000 feature and eleminating the stop_words 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')

In [37]:
# We are converting in coming value in np array 
vectors = cv.fit_transform(final_df['All_tags']).toarray()

In [38]:
# Vecotrs consists of 0 & 1 respectively 
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [39]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

    We are importing Cosine_similarity to grab the most similar feature among the given feature

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
similarity = cosine_similarity(vectors)

In [65]:
similarity.shape

(4806, 4806)

    The below funtion is used to get the top 5 similary movies based on the given input

In [43]:
def recommendation(movie):
    movie_idx = final_df[final_df['title']== movie].index[0]
    Difference =  similarity[movie_idx]
    recommendation = sorted(enumerate(Difference), reverse = True , key = lambda x:x[1])[1:6]
    for i in recommendation:
        print(final_df.iloc[i[0]].title)

In [44]:
recommendation("28 Days")

Another Happy Day
Aberdeen
Premonition
The Lost Weekend
You Kill Me

In [45]:
final_df.iloc[1114].title

'28 Days'

In [46]:
import pickle

In [60]:
pickle.dump(final_df.to_dict(),open('final_dict.pkl','wb'))

In [66]:
pickle.dump(similarity,open('similarity.pkl','wb'))